<div class="panel panel-default">
  <div class="panel-heading"><h1>All Topics <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %></h1> 
  </div>
  <div class="panel-body">

    
      <div class="row">

        <% @topics.each do |topic| %>
          <div class="col-md-4">
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">
                  <p><%= link_to topic.title, topic %></p>
                  <%= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-danger' %>
                  <br>
                  <br>
                  <% topic.bookmarks.each do |bookmark| %>
                    <div class="thumbnail">
                      <img src="" alt="...">

                  <% embedly = display(bookmark.url) %><br/>
                  <%#= link_to bookmark.url.html_safe, bookmark.url.html_safe %><br/>
                  <%#= image_tag(display(bookmark.url).thumbnail_url).html_safe %>
                  <%= link_to embedly[:url] do %>
                    <%= image_tag embedly[:thumbnail_url] %>
                  <% end %>
                  <br/>

                    <!-- <p><%= link_to bookmark.url, bookmark.url, :target => '_blank' %></p> -->
                  </div>
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        <% end %> 
      </div>
    
    <div class="panel-footer">
    </div>  
  </div>
</div> 